<%= cache message do %>
<div id="<%= dom_id message %>">
  <p>
    <strong>Title:</strong>
    <%= message.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <% if message.image.attached? %>
    <%= image_tag message.image.variant(resize_to_limit: [100, 100]) %>
  <% end %>

</div>
<% end %>
